/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply w-full h-full;
  }

  body {
    @apply m-0 overflow-hidden antialiased bg-white dark:bg-gray-900;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}
